<% title 'Game Tools' %>

<ul>
	<li><%= link_to 'Dominion', dominion_gametools_path %></li>
	<ul>
		<li><%= link_to 'Dominion: Intrigue', intrigue_gametools_path %></li>
		<li><%= link_to 'Dominion plus Intrigue', dominion_plus_gametools_path %></li>
	</ul>
	<li><%= link_to 'Zombinion', zombinion_gametools_path %></li>
	<ul>
		<li><%= link_to 'Zombinion: Entrails', entrails_gametools_path %></li>
		<li><%= link_to 'Zombinion plus Entrails', zombinion_plus_gametools_path %></li>
	</ul>
	<li><%= link_to 'Start Player', startplayer_gametools_path %></li>
</ul>
